.v{position:absolute}
.x{position:absolute}
.z{position:absolute}

.y0{position:absolute}
.y1{position:absolute;height:75%}
.y2{position:absolute;height:75%}
.y3{position:absolute;height:75%}
.y4{position:absolute}
.y5{position:absolute}