body{padding:0px;margin:auto;overflow:hidden}
td,p,div{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;text-align:left}
input,select,textarea{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border:1px solid #ffffff;color:#868686;background-color:#ffffff}

.v{position:fixed;bottom:32px;left:2px;font-size:10px}
.x{color:#ffffff;background-color:#ffffff;border-bottom:1px solid #ffffff;position:fixed;top:0px;left:0px;width:100%;height:70px;overflow:hidden}
.y{color:#ffffff;background-color:#4372b9}
.y0{position:fixed;top:75px;left:1%;font-weight:bold}
.y1{position:fixed;top:90px;left:1%;width:78%;bottom:40px;overflow:hidden}
.y2{position:fixed;top:90px;right:1%;width:18%;bottom:40px;overflow:hidden;background-color:#ffffff;color:#868686;border:1px solid #ffffff;white-space:nowrap}
.y3{position:fixed;top:90px;left:0px;width:100%;bottom:40px;text-align:center;overflow:auto}
.y4{position:fixed;bottom:40px;width:260px;right:5%;overflow:hidden;background-color:#ffffff;color:#ffffff;border:1px solid #ffffff;padding:8px}
.y5{position:fixed;bottom:40px;right:5%;overflow:hidden;background-color:#ffffff;color:#2a2a2a;border:1px solid #ffffff;padding:8px;white-space:nowrap}
.z{color:#ffffff;background-color:#ffffff;border-top:1px solid #ffffff;position:fixed;bottom:0px;left:0px;width:100%;height:30px;overflow:hidden}

.d{margin:auto;padding:0px;color:#171717;background-color:#ffffff}                        /* table, div */
.a{margin:auto;padding:1px;color:#171717;background-color:#ffffff}                        /* table, div */
.b{color:#868686;background-color:#ffffff;font-size:11px;font-weight:bold;padding:12px}   /* title cell */
.c{color:#171717;background-color:#ffffff;padding:8px}                                    /* cells      */

.i{border:0px solid #ffffff}                                    /* image    */
.e{border:0px solid #ffffff;width:18px;height:18px;padding:1px} /* emoticon */
.s{font-size:10px;font-weight:normal}                           /* small    */
.o{font-size:10px;font-weight:bold;text-decoration:none}        /* online   */
.u{text-transform:uppercase}                                    /* caps     */
.m{background-color:#868686;color:#ffffff}                      /* inactive */
.n{background-color:#171717;color:#ffffff}                      /* active   */
.w{width:100%}

.r{width:10px;height:10px;float:left;margin:1px;padding:0px;border:1px solid #000000}

A:link{color:#868686;background-color:transparent}
A:visited{color:#868686	;background-color:transparent}
A:hover{color:#171717;background-color:transparent;text-decoration:none}
A:active{color:#171717;background-color:transparent}